<div class="main-app">
    <h1>
      {{ title }}!
    </h1>
    <img width="300" alt="Pusher Logo" src="https://scontent.fotp3-3.fna.fbcdn.net/v/t1.0-9/31292783_1933353380068660_8095051757027065856_o.jpg?_nc_cat=106&_nc_ht=scontent.fotp3-3.fna&oh=bc01ccb637e25da8abe47d24bdd27e3a&oe=5C3FCEC6" />
    <div class="like">
      <div style="margin-right: 1rem">
        <h2>{{ likes }} likes</h2>
      </div>
      <button class="btn btn-lg btn-success" (click)="liked()">Like Image</button>
    </div>
  </div>