<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a class="cursor-pointer">
                        About Us
                    </a>
                </li>
                <li>
                    <a class="cursor-pointer">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a class="cursor-pointer">
                        Terms
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} - Enviroself
        </div>
    </div>
</footer>