<!-- Modal -->
<div id="change-email-modal" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <form [formGroup]="_form" #ff="ngForm" (ngSubmit)="_form.valid && submit()" validate>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change email</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>New Email</label>
                                <input type="email" class="form-control border-input" emailValid required [ngClass]="{ 'form-input-error': ff.submitted && email.invalid }"
                                    formControlName="email" placeholder="New Email">
                                <small hidden [ngClass]="{ 'form-input-error-message': ff.submitted && email.invalid }">New Email is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- LOADER -->
                    <div class="tiny-loader-container" *ngIf="loading">
                        <div class="loader"></div>
                    </div>
                    <button type="submit" class="btn btn-success">Change</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal End -->